<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%- block styles %}
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='tailwind.min.css', v=time.time()) }}"> -->
    {%- endblock styles %}
</head>
<body>
    <h1>Cooker</h1>
    <p>
        <ul>
            <li>
                <a href="{{ url_for('recipes.index') }}">Recipes</a>
            </li>
            <li>
                <a href="{{ url_for('test_kitchen.recipes.index') }}">Test Kitchen Recipes</a>
            </li>
        </ul>
    </p>
</body>
</html>
